* {
  box-sizing: border-box;
  margin:0;
  font-family: Montserrat, sans-serif;
}

body {
  background-color: #171B25;
  color:wheat
}

header {
  background-color: #0C0D0F;
  font-size: 25px;

  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
}

.find {
  padding:15px;
  font-size: 38px;
  
}

.search {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
  align-content: center;
  height:40vh;


  margin-left: auto;
  margin-right: auto;
  background-color: #2E3443;
  
  padding:20px;
}

form {
  
  padding: 25px 20px;
  width: 680px;
  background: none;
  border-radius: 1000px;

  display: flex;
  flex-direction: row;
}

#cocktail-in, #cocktail-btn {
  font-size: 28px;
  border-radius: 30px;
  padding:14px 10px;
}

#cocktail-in{
  width:500px;
  flex-grow: 2;
  border:none;

  padding-left:20px;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#cocktail-btn {
  background-color: white;
  border:none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-right: 15px;
  border-left:2px solid #2E3443;
}



.carousel-div{
  padding-top:80px;
  text-align: center;
}

.carousel-div h1 {
  font-size: 48px;
}


.carousel {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:70vh;
  align-items: center;
}

.display {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap:110px;

}

.btn {
  margin:10px;
}

.btn button {
  
  height:80px;
  width:80px;
  border-color: transparent;

  padding:15px;
  background-color: #FFFFFF;
  border-radius:50%;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



.back img{
  max-width:320px;
}
.center img {
  max-width:480px;
}

.display img {
  margin-bottom:30px;
}


/* RESULTS */

.input {
  margin-top:40px;
  border-top:2px solid #0C0D0F;
  padding: 20px 50px;
  padding-top:40px;
  font-size: 30px;
}

.gallery-img {
  width:380px;
}


.gallery{
  display: grid;

  align-items: center;
  align-content: center;

  grid-template-columns: repeat(3, 1fr);
}

.gallery-div {
  padding: 30px;
  text-align: center;
}

.gallery-name{
  font-size: 20px;
  padding-top:20px;
}


footer {
  margin-top:30px;
  height:5vh;
  align-content: center;
  padding-left:20px;
  background-color:#0C0D0F;
}

/* DONE IT */
/* need only animation things: buttons / smooth scroll etc */