.input {
  padding: 30px 20px;
}

.gallery-img {
  width:300px;
}


.gallery{
  display: grid;
  border: 2px solid darkblue;

  align-items: center;
  align-content: center;

  grid-template-columns: repeat(3, 1fr);
}

.gallery-div {
  padding: 30px;
  border:3px solid darkcyan;
  text-align: center;
}

.gallery-name{
  font-size: 20px;
  padding-top:20px;
}